$light-cyan-af: #94BDCF;
$cyan-af:#027D8F;
$pink-af:#D899C4;
$dark-blue-af: #262B62;
$grey-af:#EAEAEA;
$light-blue-af: #00ADE7;
$dark-purple-af: #3a459c;
$white: #fff;
$primary-input: #11998e;
$secondary-input: #38ef7d;
$gray-input: #9b9b9b;

.light-cyan-af{
    color: $light-cyan-af;
}
.light-cyan-af-bg{
    background-color: $light-cyan-af;
}

.cyan-af{
    color: $cyan-af;
}
.cyan-af-bg{
    background-color: $cyan-af;
}

.pink-af{
    color: $pink-af;
}
.pink-af-bg{
    background-color: $pink-af;
}

.dark-blue-af{
    color: $dark-blue-af;
}
.dark-blue-af-bg{
    background-color: $dark-blue-af;
}

.grey-af{
    color: $grey-af;
}
.grey-af-bg{
    background-color: $grey-af;
}

.light-blue-af{
    color: $light-blue-af;
}
.light-blue-af-bg{
    background-color: $light-blue-af;
}

.dark-purple-af{
    color: $dark-purple-af;
}
.dark-purple-af-bg{
    background-color: $dark-purple-af;
}