$white: #fff;
$grey: #9b9b9b;
$yellow-ajuar:#F4D401;
$light-blue-ajuar:#2DAAE1;
$orange-ajuar:#F39200;

.yellow-ajuar{
    color: $yellow-ajuar;
}
.yellow-ajuar-bg{
    background-color: $yellow-ajuar;
}
.white{
    color: $white;
}
.white-bg{
    background-color: $white;
}
.light-blue-ajuar{
    color: $light-blue-ajuar;
}
.light-blue-ajuar-bg{
    background-color: $light-blue-ajuar;
}
.orange-ajuar{
    color: $orange-ajuar;
}
.orange-ajuar-bg{
    background-color: $orange-ajuar;
}