//ITC Avant Garde Std Bk Regular
@font-face{
    font-family:'ITC';
    src: url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
}
//ITC Avant Garde Std XL
@font-face{
    font-family:'ITC_XL';
    src: url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype');
}
//Qualy bold
@font-face{
    font-family:'Qualy Bold';
    src: url('../fonts/QualyBold.ttf') format('truetype');
}
//Quick Signature
@font-face{
    font-family:'Quick Signature';
    src: url('../fonts/QuickSignature.otf') format('opentype');
}
//Parisienne Regular
@font-face{
    font-family:'Parisienne Regular';
    src: url('../fonts/Parisienne-Regular.ttf') format('truetype');
}

//Kristi Regular
@font-face{
    font-family:'Kristi Regular';
    src: url('../fonts/Kristi-Regular.ttf') format('truetype');
}