//Kollektif
@font-face{
    font-family:'Kollektif';
    src: url('../fonts/kollektif.ttf') format('truetype');
}
//League Gothic regular
@font-face{
    font-family:'League Gothic';
    src: url('../fonts/LeagueGothic-Regular.otf') format('opentype');
}
//Bebas neue
@font-face{
    font-family:'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}