//Kollektif
.kollektif{
    font-family:'Kollektif';
}
//League Gothic regular
.league-gothic{
    font-family:'League Gothic';
}
.bebas-neue{
    font-family:'Bebas Neue';
    letter-spacing: 7px;

}

.home-font{
    font-size: 20px;
}

.ajuar-home-font{
    font-size: 65px;
    @include responsiveLarge() {
        font-size: 80px;
    }
}

.ajuar-contact-font{
    font-size: 32px;
    @include responsiveLarge() {
        font-size: 50px;
    }
}

#ajuar-text {
    font-size: 80px;
}